.post-create{
    .form{
        .DraftEditor-root{
            border: 1px solid #ddd;
            padding: 20px;
            background: #fff;
            border-radius: 0 0 5px 5px;
        }
    }
}
