.post-create{
    .form{
        .uppy-DragDrop-container{
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .uppy-DragDrop--is-dragdrop-supported{
            border: 1px solid #ddd;
            outline: none;
        }
    }
}
