@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');


// Regular
@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-Regular.woff") format('woff');
}

@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-RegularOblique.woff") format('woff');
  font-style: italic;
}

// Thin
@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-Thin.woff") format('woff');
  font-weight: 100;
}

@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-ThinOblique.woff") format('woff');
  font-weight: 100;
  font-style: italic;
}

// Light
@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-Light.woff") format('woff');
  font-weight: 300;
}

@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-LightOblique.woff") format('woff');
  font-weight: 300;
  font-style: italic;
}

// Medium
@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-Medium.woff") format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-MediumOblique.woff") format('woff');
  font-weight: 500;
  font-style: italic;
}

// DemoBold
@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-DemiBold.woff") format('woff');
  font-weight: 600;
}

@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-DemiBoldOblique.woff") format('woff');
  font-weight: 600;
  font-style: italic;
}

// Bold
@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-Bold.woff") format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-BoldOblique.woff") format('woff');
  font-weight: 700;
  font-style: italic;
}

// ExtraBold
@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-ExtraBold.woff") format('woff');
  font-weight: 750;
}

@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-ExtraBoldOblique.woff") format('woff');
  font-weight: 750;
  font-style: italic;
}

// Heavy
@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-Heavy.woff") format('woff');
  font-weight: 800;
}

@font-face {
  font-family: "Clew-font";
  src: url("/fonts/visby/VisbyCF-HeavyOblique.woff") format('woff');
  font-weight: 800;
  font-style: italic;
}

html {
  /* Load system fonts */
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe
  UI, Helvetica Neue, sans-serif;

  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;

  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility !important;
}

/**
 * Form elements render using OS defaults,
 * so font-family inheritance must be specifically declared
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
