toodle {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px 20px 30px;
    vertical-align: text-top;
    align-items: flex-start;
    width: 400px;
    background: $body-bg-dark;
    color: $text-dark;
    min-height: 100vh;
    margin: 5px 0 5px 5px;
    border-radius: 20px;

    @media only screen and (max-width: 1300px) {
        display: none;
    }

    .member-featured{
        display: block;
        width: 100%;

        .title{
            font-weight: 500;
            margin-bottom: 5px;
        }

        .item{
            background: #fff;
            border-radius: 20px;
            border: 1px solid #e2e2e2;
        }
    }

    .content-community{
        display: block;

        .title{
            font-weight: 500;
            margin-bottom: 5px;
        }

        .item{
            display: block;
            font-size: 0.9em;
            text-align: right;

            .logo{
                display: block;
                max-height: 35px;
            }
        }
    }

    .footer{
        display: flex;
        align-self: flex-end;
        width: 100%;
        padding: 0 0 20px 0;

        .opensource{
            display: flex;
            vertical-align: middle;
            align-items: center;
            flex-wrap: wrap;
            line-height: 1.4;
            width: 100%;

            .icon-holder{
                display: block;
                vertical-align: middle;
                align-items: center;
                width: 100%;
                text-align: right;
                margin-bottom: 5px;
            }

            .icon{
                height: 18px;
                width: 18px;
                fill: $red;
                stroke-width: 0px;
            }
        }
    }

}
